@model LabASPNET.Models.Order

<h2>Создание заказа</h2>

<form method="post" action="/Orders/Create">
	<div class="mb-3">
		<label for="UserId" class="form-label">UserId</label>
		<input type="number" class="form-control" id="UserId" name="UserId" value="@Model?.UserId" required>
		<span asp-validation-for="UserId" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label for="ProductId" class="form-label">Product ID</label>
		<input type="number" class="form-control" id="ProductId" name="ProductId" value="@Model?.ProductId" required>
		<span asp-validation-for="ProductId" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label for="Quantity" class="form-label">Quantity</label>
		<input type="number" class="form-control" id="Quantity" name="Quantity" value="@Model?.Quantity" required>
		<span asp-validation-for="Quantity" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label for="OrderDate" class="form-label">Order Date</label>
		<input type="date" class="form-control" id="OrderDate" name="OrderDate"  value="@(Model?.OrderDate != DateTime.MinValue ? Model?.OrderDate.ToString("yyyy-MM-dd") : null)" required>
		<span asp-validation-for="OrderDate" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
</form>